{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 32, "knowledge_revision": 66, "git_revision": "", "hash": "2ce8d1649dfc2f7ac09c61912c51d106", "format-version": 4, "code-base-name": "default", "filename": "task_management_backend_workspace/task_management_backend/requirements.txt", "revision_history": [{"66": ""}]}